.cart-container{
    /* display: grid;
        grid-template-columns: 3fr 1fr;
        grid-auto-rows: 60px;
        grid-gap: 20px; */
text-align: center;
margin: 15px;

}
.order-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.btn-delivery{
    width: 15%;

}